<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consumo de API de Marvel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-sm-4">
                
                <button @click="getSuperHeros" class="btn btn-info mt-4">Listar todos</button>

                <input type="text" class="form-control mt-4" v-model="nombre">
                <button @click="getSuperHeroByName(nombre)" class="btn btn-success">Buscar</button>
            </div>
            <div class="col-sm-8">
                <h1>VUE JS - API Marvel</h1>
                <ul class="list-group">
                    <li v-for="item of listadoSuper" class="list-group-item">
                        <b>Nombre:</b> {{item.name}}, <b>Descripción:</b> {{item.description}}
                    </li>
                    <li v-for="item of busquedaSuper" class="list-group-item">
                        <b>Nombre:</b> {{item.name}}, <b>Descripción:</b> {{item.description}}, <b>Año de publicación: </b>{{item.modified}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    new Vue({
        el: '#app',
        data:{       
            listadoSuper: [],
            busquedaSuper: [],
            nombre: ''
        },
        methods:{
            getSuperHeros(){
                var urlSuper = 'http://gateway.marvel.com/v1/public/characters?orderBy=name&ts=9&apikey=38b5f450e7f7bdb2be5a5d21dbcf36d7&hash=ca02fac9e223fcbf9501302657212b91';
                axios.get(urlSuper).then(response => {
                    this.listadoSuper = response.data.data.results;
                });
            },
            getSuperHeroByName(nombre){
                this.listadoSuper = [];
                this.busquedaSuper = [];
                var urlSuper = 'http://gateway.marvel.com/v1/public/characters?name='+nombre+'&ts=9&apikey=38b5f450e7f7bdb2be5a5d21dbcf36d7&hash=ca02fac9e223fcbf9501302657212b91';
                axios.get(urlSuper).then(response => {
                    this.busquedaSuper = response.data.data.results;
                    this.nombre = ''
                });
            }
        }
    })
    </script>
</body>
</html>